.banner_back {
  padding: 10px;
  background: linear-gradient(90.06deg, #181716 0%, #ed4e08 99.97%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.button_back {
  padding: 10px 20px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}
.button_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  white-space: nowrap;
}
